{{#leaflet-map lat=lat lng=lng zoom=zoom minZoom=2 maxZoom=18 onLoad=(action "getPlaces") onMoveend=(action "getPlaces") as |layers|}}
  {{layers.tile url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"}}
    {{#marker-cluster-layer}}
      {{#each places as |place|}}
        {{#marker-layer location=place.location}}
          {{#popup-layer}}
            {{place.owner.firstName}} {{place.owner.lastName}}<br>
            {{place.city}}<br>
            <a href="{{place.link}}">Vidi</a>
            {{yield}}
          {{/popup-layer}}
        {{/marker-layer}}
      {{/each}}
    {{/marker-cluster-layer}}
{{/leaflet-map}}
